@import "utils";

.push--notification--box {
  position:fixed;

  right : 64px;

  @include transition-timing(ease);

  button {
    background: indianred;
  }
}

.stateLoad.push--notification--box {
  bottom : -68px;
}

.stateHide.push--notification--box {
  bottom : -68px;

  @include transition(bottom 200ms 0ms);
}

.stateShow.push--notification--box {
  bottom : 42px;

  @include transition(bottom 300ms 0ms);
}