@import "utils";

.overlay--form {
  position: absolute;

  opacity: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: auto;
  text-align:center;
  z-index: 6;

  pointer-events: none;

  @include transition-timing(ease);
}

.stateShow.overlay--form {
  opacity: 1;

  pointer-events: auto;

  @include transition(opacity 300ms 0ms);
}

.stateHide.overlay--form {
  opacity: 0;

  @include transition(opacity 300ms 0ms);
}

.overlay--new-entry {

  .form--file-container {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
    img {
      max-width: 300px;
    }
  }
}

.overlay--review-entry {

  .data-entry--background {
    background-color: lightgray;
  }
}