@import "utils";

.form-container {
  position: absolute;
  margin: auto;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  form {
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  }

  .form--checkbox {
    width:100%;
    margin:20px 0;
  }

  .form--checkbox [type="checkbox"], .form--checkbox [type="radio"] {
    margin-right:20px;
  }

  .form--checkbox.form--third {
    text-align: left;
  }

  .form--radio.form--third {
    text-align: left;
  }

  .form--radio.form--third input[type="radio"] {
    display: inline-block;
    margin-right: 20px;
  }

  .form--label{
    width:100%;
    display:inline-block;
    margin:20px 0;
    text-align:center;
  }

  .form--half{
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    float:left;
  }

  .form--half:nth-child(odd) {
    padding-right:10px;
  }

  .form--half:nth-child(even) {
    padding-left: 10px;
  }

  button.button-primary{
    border:2px solid #f7f8f8;
    padding:15px 30px;
  }

  button.button-primary:hover{
    border:2px solid #009ADA;
  }

  .form--third{
    width: 33%;
    margin-left: 0;
    margin-right: 0;
    float:left;
  }

  .form--two-thirds{
    width: 66%;
    margin-left: 0;
    margin-right: 0;
    float:left;
  }

  .form--two-thirds{
    padding-right:10px;
  }

  .form--third--wrapper {
    width: 100%;
    display: inline-block;
  }

  .form-third:nth-child(3n+1) {
    padding-right: 13px;
  }

  .form-third:nth-child(3n+2) {
    padding-left:7px;
    padding-right:7px;
  }

  .form--third:nth-child(3n+3) {
    padding-left:13px;
  }
}

.form-style {
  fieldset {
    border: none;
  }

  textarea{
    resize: none;
    overflow: auto;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"]:not(.react-tagsinput-input),
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    border: 2px solid #a1a0a0;
    font-size: 17px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    color:#404040;
    margin-bottom: 5px;
  }

  input[type="text"]:focus:not(.react-tagsinput-input),
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus,
  select:focus{
    background: #f7f8f8;
    color:#404040;
  }

  select{
    -webkit-appearance: menulist-button;
    height:42px;
  }

  .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
  }

  input[type="submit"],
  input[type="button"]
  {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
  }

  input[type="submit"]:hover,
  input[type="button"]:hover
  {
    background: #109177;
  }

  .react-tagsinput {
    border : 2px solid #a1a0a0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;

    .react-tagsinput-tag {

    }
  }

  .form--submit--button {

    button {
      max-width:276px;

      background: lightseagreen;
      margin-top: 20px;
      width:100%;
    }
  }

  .form--textarea  {
    textarea {
      width: 400px;
      height: 60px;

      @include transition-timing(ease);
      @include transition(width 300ms 0ms, height 400ms 0ms);
    }
    textarea:focus {
      width: 600px;
      height: 300px;
    }
  }

}
/* Margin on body to 0 so there is no gap */
body
{
  margin:0;
}