@import "utils";

.list-view {
  position:absolute;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: capitalize;

  padding: 40px;
  top:75px;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;

  .notebooks--notebook, .entries--entry {
    width: 215px;
    height: 260px;
    float: left;
    padding: 20px 20px;
    text-decoration: none;

    color: #000000;

    @include transition-timing(ease);
    @include transition(padding 200ms 0ms);

    .notebook--title, .entry--title {
      text-align: center;
      margin-bottom: 5px;
      font-size: 16px;
    }

    .entry--date {
      text-align: center;
      margin-bottom: 5px;
      font-size: 12px;
    }

    .notebook--scribbles {

      width: 100%;
      height: 200px;

      @include transition(height 200ms 0ms);

      background: url("../images/document.png") no-repeat;
      background-size: contain;
    }
  }

  .notebooks--notebook:hover, .entries--entry:hover {
    padding: 10px 10px;

    .notebook--scribbles {
      height: 220px;
    }
  }

  .create .create-icon{
    width: 100%;
    height: 200px;
    opacity: .5;

    background: url("../images/create.png") no-repeat;
    background-size: contain;
  }

  .create:hover .create-icon{
    opacity: .8;
  }

  .stateLoad.notebooks--notebook, .stateLoad.entries--entry {
    opacity: 0;
  }

  .stateLoad.stateTransition.notebooks--notebook, .stateLoad.stateTransition.entries--entry {
    opacity: 1;
  }

}

.list-view.stateLoad .create {
  opacity: 0;
}

.list-view.stateTransition .notebooks--notebook, .list-view.stateTransition .entries--entry {
  @include transition(opacity 200ms 0ms);
}

.list-view.stateLoad.stateTransition .create {
  opacity : 1;
}

.list-view:not(.stateLoad) .create-icon {
  @include transition(opacity 200ms 0ms);
}

.list-view.stateExit.stateTransition .notebooks--notebook, .list-view.stateExit.stateTransition .entries--entry {
  opacity: 0;
}