@import "utils";

.notebooks--list-view {
  position:absolute;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: capitalize;

  padding: 40px;
  top:75px;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;

  .notebooks--notebook {
    width: 175px;
    height: auto;
    float: left;
    margin: 20px 20px;
    text-decoration: none;
    //border: 2px solid #000000;

    //padding: 22px 17px;

    .notebook--title {
      text-align: center;
      margin-bottom: 5px;
    }

    .notebook--scribbles {

      width: 175px;
      height: 200px;

      background: url("../images/document.png") no-repeat;
      background-size: contain;
    }
  }

}