@import "utils";

.overlay--create-notebook, .overlay--new-entry, .overlay--review-entry, .overlay--cosign-entry {
  position: absolute;

  opacity: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: auto;
  text-align:center;
  z-index: 6;

  pointer-events: none;

  @include transition-timing(ease);
}

.stateShow.overlay--create-notebook, .stateShow.overlay--new-entry, .stateShow.overlay--review-entry, .stateShow.overlay--cosign-entry {
  opacity: 1;

  pointer-events: auto;

  @include transition(opacity 300ms 0ms);
}

.stateHide.overlay--create-notebook, .stateHide.overlay--new-entry, .stateHide.overlay--review-entry, .stateHide.overlay--cosign-entry {
  opacity: 0;

  @include transition(opacity 300ms 0ms);
}

.overlay--create-notebook {

  width: 300px;

}

.overlay--new-entry {
  width: 600px;
}

.overlay--review-entry {

  width: 600px;

  .data-entry--background {
    background-color: lightgray;
  }
}

.overlay--cosign-entry {
  width: 400px;
}