@import "utils";

.overlay--share.form-style {
  .share {
    width: 400px;

    .form--submit--button {
      width:200px;
      height:42px;
      float:left;
    }

    .form--submit--button:nth-child(1) {
      padding-right:10px;
    }

    .form--submit--button:nth-child(2) {
      padding-left: 10px;
    }
  }

  .share.stateShare {

  }
}