
.data-form#text-box{
	width: 600px;
	height: 200px;
	margin: 0 auto;
}

.data-form#image-upload{
	margin: 0 auto;	
	display: inline-block;
}

.data-form#caption-box{
	width: 600px;
	height: 100px;
	margin: 0 auto;
}

.data-form#submit-button{
	width: 600px;
	height: 100px;
	margin: 0 auto;
}

.data-form#form{
	display: inline-block;
	/*text-align: center;*/
	width: 100%;
	background-color: white;
}

.data-form#tag-box{
	margin: 0 auto;
	width: 600px;
	height: 100px;
}


.data-format#form-div{
	text-align: center;
	width: 100%;
	/*background-color: blue*/;
}

.data-form#data-entry-header{
	float: center;
}

.data-form#header-text{
	display: inline-block;
}

.data-form#cancel-button{
	display: inline-block;
	margin-left: 200px;
}

.data-form#container{
	display: block;
}
